POSTGRES_DB_URL="Your postgres DB URL"
ACCESS_SECRET_KEY="Your Access Token Secret Key"
REFRESH_SECRET_KEY="Your Refresh Token Secret Key"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES="Access Token expiring Minutes"
REFRESH_TOKEN_EXPIRE_MINUTES="Refresh token expiring Minutes"